[Unit]
Description= Platziverse MQTT
Afeter=network.target

[Service]
Environment=NODE_ENV=production
Type=simple
User=root
WorkingDirectory=/urs/local/src/platziverse-mqtt
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target